mat-card-subtitle {
    font-size: 14px;
    color: #6d8fb0
}
mat-card-content {
    font-size: 12px;
    color: #596e83;
    word-spacing: -2px;
    
}
mat-card-content p {
    margin-bottom: 0;
}
mat-card {
    background-color: #fff;
    box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 6px 0px;
}
.img-info {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}