<div class="container-fluid d-flex flex-column h-100">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-3">Checkout</h4>
      <form [formGroup]="checkoutForm" (ngSubmit)="pay()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                formControlName="fullName"
                type="text"
                class="form-control"
                id="tb-fname"
                placeholder="Enter Name here"
              />
              <label for="tb-fname">Full Name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="tb-email"
                placeholder="email@example.com"
              />
              <label for="tb-email">Email</label>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-pwd"
                placeholder="Password"
              />
              <label for="tb-pwd">Password</label>
            </div>
          </div> -->
          <!-- <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-cpwd"
                placeholder="Password"
              />
              <label for="tb-cpwd">Confirm Password</label>
            </div>
          </div> -->
          <div class="col-12">
            <div class="d-md-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
              <div class="d-grid gap-2 col-8 mx-auto">
                <button
                  mat-raised-button
                  type="submit"
                  [ngClass]="
                    checkoutForm.invalid
                      ? 'disabledCheckoutColor'
                      : 'enabledCheckout'
                  "
                  [disabled]="checkoutForm.invalid"
                >
                  Pay Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <mat-card class="checkout-card d-flex flex-column">
    <mat-card-subtitle>Checkout </mat-card-subtitle>

    <!-- Grand Total -->
    <p class="total">Total: {{ totalPrice$ | async | currency }}</p>

    <!-- User Info Form -->
    <!-- <form [formGroup]="checkoutForm" (ngSubmit)="pay()">
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required />
      </mat-form-field> -->

    <!-- Stripe Card Element -->
    <!-- / <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card> -->

    <!-- Submit -->
    <!-- <p>{{ checkoutForm.invalid }}</p>
      <button
        mat-raised-button
        type="submit"
        [ngClass]="
          checkoutForm.invalid ? 'disabledCheckoutColor' : 'enabledCheckout'
        "
        [disabled]="checkoutForm.invalid"
      >
        Pay Now
      </button>
    </form> -->
  </mat-card>

  <ng-container *ngFor="let image of selectedImages$ | async">
    <div class="card w-100 mb-2">
      <div class="row">
        <div class="col-5">
          <img
            [src]="image.image.url"
            class="checkout-image p-1"
            style="border-radius: 9px"
            alt="..."
          />
        </div>
        <div class="col-7">
          <div class="card-body">
            <p class="card-text">{{ image.size }} size</p>
            <p class="card-text">{{ image.price | currency }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="card-body">
     <span>more data here</span>
            </div> -->
    </div>
  </ng-container>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-3">Basic Form</h4>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="tb-fname"
                placeholder="Enter Name here"
              />
              <label for="tb-fname">Name</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="tb-email"
                placeholder="name@example.com"
              />
              <label for="tb-email">Email address</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-pwd"
                placeholder="Password"
              />
              <label for="tb-pwd">Password</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-cpwd"
                placeholder="Password"
              />
              <label for="tb-cpwd">Confirm Password</label>
            </div>
          </div>
          <div class="col-12">
            <div class="d-md-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
              <div class="ms-auto mt-3 mt-md-0">
                <button type="submit" class="btn btn-primary hstack gap-6">
                  <i class="ti ti-send fs-4"></i>
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
