<div *ngIf="cartId" class="alert alert-info mt-3">
  Checkout for app cart: <strong>{{ cartId }}</strong>
</div>

<div class="container-fluid d-flex flex-column h-100">
  <div class="card mt-5 mb-4">
    <div class="card-body">
      <h6 class="card-title mb-3">Checkout</h6>
      <form [formGroup]="checkoutForm" (ngSubmit)="pay($event)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                formControlName="fullName"
                type="text"
                class="form-control"
                id="fname"
                placeholder="Enter Name here"
              />
              <label class="d-flex" for="fname">
                <mat-icon class="me-2">person_outline</mat-icon>
                <span class="border-start border-info ps-3">Name</span>
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="tb-email"
                placeholder="email@example.com"
              />
              <label class="d-flex" for="tb-email">
                <span class="material-icons-outlined me-2"> email </span>
                <span class="border-start border-info ps-3">Email</span>
              </label>
            </div>
          </div>
          <div class="row ms-0">
            <div class="col-8">
              <p class="">item total</p>
            </div>
            <div class="col-4">
              <p class="text-end co-font-size">
                {{ itemTotals.itemTotal }} items
              </p>
            </div>
          </div>

          <div class="row ms-0 mb-3" *ngIf="itemTotals.fullSizeItems > 0">
            <div class="col-8">
              <p class="mb-0 lineh1">
                full size pictures
                <span class="co-font-size">{{ itemTotals.fullSizeItems }}</span>
              </p>
              <span class="price-each">
                {{ itemTotals.fullSizePriceEach | currency }}each
              </span>
              <span class="price-each bkg-i">best for prints</span>
            </div>
            <div class="col-4">
              <p class="text-end sub-font-size">
                {{ itemTotals.fullSizeSubT | currency }}
              </p>
            </div>
          </div>

          <div class="row ms-0 mb-3" *ngIf="itemTotals.smallItems > 0">
            <div class="col-8">
              <p class="mb-0 lineh1">
                small size pictures
                <span class="co-font-size">{{ itemTotals.smallItems }}</span>
              </p>
              <span class="price-each">
                {{ itemTotals.smallSizePriceEach | currency }}each
              </span>
              <span class="price-each bkg-i">best for social media</span>
            </div>
            <div class="col-4">
              <p class="text-end sub-font-size">
                {{ itemTotals.smallSizeSubT | currency }}
              </p>
            </div>
          </div>
          <p class="total text-end sub-font-size">
            Total: {{ itemTotals.grandTotal | currency }}
          </p>
          <!-- <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-pwd"
                placeholder="Password"
              />
              <label for="tb-pwd">Password</label>
            </div>
          </div> -->
          <!-- <div class="col-md-6">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="tb-cpwd"
                placeholder="Password"
              />
              <label for="tb-cpwd">Confirm Password</label>
            </div>
          </div> -->
          <div class="col-12">
            <div class="d-md-flex align-items-center">
              <div class="d-grid gap-2 col-8 mx-auto mt-3">
                <button
                  mat-raised-button
                  type="submit"
                  [ngClass]="
                    checkoutForm.invalid
                      ? 'disabledCheckoutColor'
                      : 'enabledCheckout'
                  "
                  [disabled]="checkoutForm.invalid"
                >
                  Pay Now
                </button>
              </div>
              <span class="text-center" style="font-size: 9px; display: block"
                >Powered by STRIPE</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ng-container *ngFor="let image of selectedImages$ | async">
    <div class="card w-100 mb-2">
      <div class="row">
        <div class="col-5">
          <img
            [src]="image.image.imageUrl"
            class="checkout-image p-1"
            style="border-radius: 9px"
            alt="..."
          />
        </div>
        <div class="col-7">
          <div class="card-body">
            <p class="card-text">{{ image.size }} size</p>
            <p class="card-text">{{ image.price | currency }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="card-body">
     <span>more data here</span>
            </div> -->
    </div>
  </ng-container>
  <ng-container *ngIf="cartId; else qrFlow">
    <ng-container *ngFor="let item of webCartItems">
      <div class="card w-100 mb-2">
        <div class="row">
          <div class="col-5">
            <img
              [src]="item.imageUrl || ''"
              class="checkout-image p-1"
              style="border-radius: 9px"
              alt="..."
            />
          </div>
          <div class="col-7">
            <div class="card-body">
              <p class="card-text">{{ item.size }} size</p>
              <p class="card-text">{{ item.price | currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #qrFlow>
    <!-- your ORIGINAL QR-based ngFor stays here -->
    <ng-container *ngFor="let image of selectedImages$ | async">
      <div class="card w-100 mb-2">
        <div class="row">
          <div class="col-5">
            <img
              [src]="image.image.imageUrl"
              class="checkout-image p-1"
              style="border-radius: 9px"
              alt="..."
            />
          </div>
          <div class="col-7">
            <div class="card-body">
              <p class="card-text">{{ image.size }} size</p>
              <p class="card-text">{{ image.price | currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
