/* checkout.component.scss */
// .checkout-card {
   
//   }
  
  .full-width {
    width: 100%;
  }
  
  .picture-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .picture-thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 1rem;
  }
  .image-wrapper {
    max-height: 80px;
  }
  .checkout-image {   
    max-height:116px;
    max-width: 170px;
    width: auto;
  }
  .image-details{
    max-height: 180px;
    height: 180px;
  }
 .card {
  box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1);
 }
 .form-control {
  padding-left: 6rem;
  font-size: 1.3rem;
 }
 .price-each {
  font-size: 12px;
  // font-weight: 600;
  color: #1a1b1f;
 }
 .co-font-size {
 font-size: 1.3rem;
 }
 .sub-font-size {
  font-size: 1.4rem;
  }
  .lineh1 {
    line-height: 0.7;
  }
  .bkg-i {
    background-color: #cfcfcf;
  }