.thumbnail-strip {
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .thumbnail {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .selected {
    border-color: #1976d2; // Angular Material primary color
  }
  