// .slider-container {
//     // position: relative;
//     // width: 100vw;
//     // height: 100vh;
//     // overflow: hidden;
//     // background-color: black;
//   }
  .image-container {
    height: 45vh;
  }
  
  .main-picture {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  .main-image {
    // max-height: 70vh;  /* Prevents the main image from overflowing vertically */
    object-fit: cover;
    width: 100%;       /* Maintain aspect ratio */
    display: inline; /* Ensures the image is displayed inline */
    object-position: center !important;
  }
  
  .thumbnail-strip {
    overflow-x: auto;  /* Allow horizontal scrolling for thumbnails if they overflow */
    white-space: nowrap;
  }
  
  .thumbnail {
    padding: 0;
  }
.full-img img {
height: 15rem;;
}
.full-img-wrap {
    margin-top: 0px;
}
  
  .thumbnail img {
    height: 3rem;
    width: auto;
    // border: 2px solid transparent;
    cursor: pointer;
  }
  .img-thumbnail {
    padding: 0;
    max-width: none;
  }
  
  .thumbnail img.active {
    border-color: #007bff;  /* Highlight the active thumbnail */
  }
  .thumbnail-wrap{
    bottom:4px
  }
  .thumbnail {
    position: relative;
    cursor: pointer;
  }
  
  .selection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 246, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
  }
  