<p>{{userId}}</p>
<p>{{qrId}}</p>
<img src="./../../assets/images/067A0403.JPG" alt="">

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
      <!-- Content for grid item 1 -->
      <p>{{userId}}</p>
      <p>{{qrId}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- Content for grid item 2 -->
      <p>{{userId}}</p>
      <p>{{qrId}}</p>
    </mat-grid-tile>
     <mat-grid-tile>
      <!-- Content for grid item 3 -->
      <p>{{userId}}</p>
      <p>{{qrId}}</p>
    </mat-grid-tile>
     <mat-grid-tile>
      <!-- Content for grid item 4 -->
      <p>{{userId}}</p>
      <p>{{qrId}}</p>
    </mat-grid-tile>
  </mat-grid-list>

