<!-- <img src="./../../assets/images/067A0403.JPG" alt=""> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col col-md-10" style="border: 1px solid lightgreen;">
      <div class="d-flex justify-content-center">
        <h1>View Pictures</h1>
      </div>
      <div class="row">
        <div class="col align-self-center text-center">
          <div class="main-image">
            <img [src]="selectedImage" class="img-fluid" alt="Main Image">
          </div>           
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center text-center">
          <div class="thumbnail-strip d-flex  justify-content-center mt-3">
            <div *ngFor="let image of images" class="thumbnail">
              <img [src]="image" [class.active]="image === selectedImage" (click)="selectImage(image)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-2 position-relative" style="border: 1px solid white; background-color: rgb(255, 255, 255);">
      <div class="d-flex justify-content-center h-100">

        <add-to-cart class="w-100 "></add-to-cart>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <!-- TODO check if the images are for sale -->
  <div *ngIf="true" class="row mt-3">
    <div class="col text-center my-0">
      <p>BUY IMAGES</p>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col">
        <image-owner [imageCredit]="'Paco Photos'"></image-owner>
      </div>
    </div> -->
  <div class="row image-container">
    <!-- Main Section (10 columns on medium+ screens) -->
    <div class="col col-md-10 position-relative d-flex flex-grow-1">
      <!-- LARGE IMAGE STRIP -->
      <div class="row w-100 position-absolute full-img-wrap">
        <div class="col text-center">
          <div class="thumbnail-strip d-flex justify-content-start">
            <div
              *ngFor="let image of images$ | async"
              class="full-img m-1 position-relative"
              (click)="openImageModal(image)"
            >
              <img [src]="image.url" class="img-thumbnail" alt="Thumbnail" />
              <!-- Overlay to indicate selection -->
              <div>
                <!-- <div *ngIf="isSelected(image)" class="selection-overlay"> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Thumbnail strip with selection functionality -->
      <div class="row position-absolute w-100 thumbnail-wrap">
        <!-- <div *ngIf="true" class="row">
            <div class="col text-center">
              <p  class="mb-2">PICK UR PICS</p>
            </div>
          </div> -->
        <div class="col text-center">
          <!-- TODO add below to inform about choosing pics -->
          <!-- <p  class="mb-0">PICK UR PICS</p> -->
          <!-- TODO DO NOT DELETE -->
          <!-- <div class="thumbnail-strip d-flex justify-content-start">
              <div *ngFor="let image of images" class="thumbnail m-1" 
                   [class.selected]="isSelected(image.url)"
                   (click)="toggleSelection(image)">
                <img [src]="image.url" class="img-thumbnail" alt="Thumbnail">
                <div *ngIf="isSelected(image.url)" class="selection-overlay">
                  <span>&#10003;</span>
                </div>
              </div>
            </div> -->
          <div class="thumbnail-strip d-flex justify-content-start">
            <div
              *ngFor="let image of images$ | async; let i = index"
              class="thumbnail m-1"
              (click)="onThumbnailClick(image, i)"
            >
              <img [src]="image.url" class="img-thumbnail" alt="Thumbnail" />
              <span></span>
              <div
                *ngIf="isSelected(image.pictureId) | async"
                class="selection-overlay"
              >
                <span>&#10003;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add-to-cart Section (2 columns on medium+ screens) -->
    <div
      *ngIf="isDesktop"
      class="col-md-2 d-none d-md-block position-relative"
      style="border: 1px solid white; background-color: #fff"
    >
      <div class="d-flex justify-content-center h-100">
        <!-- Pass selected images to the child component -->
        <add-to-cart></add-to-cart>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <div class="d-flex justify-content-center h-100">
        <!-- Pass selected images to the child component -->
        <add-to-cart class="w-100"></add-to-cart>
      </div>
    </div>
  </div>
</div>
