<!-- Top fixed icons -->
<div class="dialog-top-icons">
  <button mat-icon-button (click)="closeModal()" class="back-button">
    <mat-icon class="back-button-icon">arrow_back</mat-icon>
  </button>
</div>

<!-- ✅ Swipe strip -->
<div class="modal-content">
  <div class="swipe-strip" #strip>
    <div class="slide" *ngFor="let img of images">
      <mat-card class="modal-card">
        <img [src]="img.previewImageUrl" class="full-image" alt="Image" />
      </mat-card>
    </div>
  </div>
</div>

<!-- Bottom fixed icons -->
<div class="dialog-bottom-icons">
  <button mat-icon-button>
    <mat-icon class="modal-bottom-icon">chat_bubble_outline</mat-icon>
  </button>

  <ng-container *ngIf="forSale && priceData">
    <button
      *ngIf="priceData.priceSmall"
      mat-raised-button
      (click)="chooseSizeAndAdd('small')"
      class="check-button"
    >
      Small ({{ priceData.priceSmall | currency: "USD" : "symbol" : "1.0-0" }})
    </button>

    <button
      *ngIf="priceData.priceFull"
      mat-raised-button
      (click)="chooseSizeAndAdd('full')"
      class="check-button"
    >
      Full ({{ priceData.priceFull | currency: "USD" : "symbol" : "1.0-0" }})
    </button>

    <button
      *ngIf="priceData.priceRoyalty"
      mat-raised-button
      (click)="chooseSizeAndAdd('royalty')"
      class="check-button"
    >
      Royalty ({{
        priceData.priceRoyalty | currency: "USD" : "symbol" : "1.0-0"
      }})
    </button>
  </ng-container>

  <button mat-icon-button>
    <mat-icon class="modal-bottom-icon">favorite_border</mat-icon>
  </button>
</div>
