<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header class="nav-header">
    <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
    <mat-panel-description>
      <div class="container-fluid">
        <div class="row d-flex text-center">
          <div class="col">
            <mat-icon class="material-symbols-outlined app-color"
              >expand_circle_down</mat-icon
            >
          </div>
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand app-color" href="/">LOGO</a>
      <a class="nav-link active" aria-current="page" href="#">Homew</a>
    </div>
  </nav>
</mat-expansion-panel>
